[Desktop Entry]
Type=Application
Name=L16 Camera
Comment=Take photos with the Light L16's camera modules
Exec=l16-camera
Icon=camera-photo
Categories=Graphics;Photography;
X-Purism-FormFactor=Workstation;Mobile;
