[Desktop Entry]
Type=Application
Name=Viewfinder
Comment=Take photos with the Light L16's camera modules
Exec=l16-camera
Icon=l16-camera
Categories=Graphics;Photography;
X-Purism-FormFactor=Workstation;Mobile;
X-Phosh-Orientation=landscape
