[Desktop Entry]
Type=Application
Name=L16 Gallery
Comment=View and render Light L16 photos
Exec=l16-gallery %F
Icon=image-x-generic
Categories=Graphics;Photography;Viewer;
MimeType=image/x-light-lri;
X-Purism-FormFactor=Workstation;Mobile;
