[Desktop Entry]
Type=Application
Name=Lightbox
Comment=View and render Light L16 photos
Exec=l16-gallery %F
Icon=l16-gallery
Categories=Graphics;Photography;Viewer;
MimeType=image/x-light-lri;
X-Purism-FormFactor=Workstation;Mobile;
